.navigation{
  background-color: grey;
  list-style-type:none;
  height:50px;
  text-align:right;
  width: 1000%;      /* new */
  display: flex;   /* updated */
}

.navigation ul li {        
  margin-left:50px;
  display: table-cell;  /* updated */  
}


 /* .container {
  background: black;
  margin: 0 auto;
  padding: 5%;
  width: 50%;
} */

/*  
img {
  width: 50%;
  height: auto;
  vertical-align: middle;
}

.pics_in_a_row {
  display: flex;
}

.pics_in_a_row {
  margin: 25px 0;
}

.pics_in_a_row > div:not(:last-child) {
  margin-right: 2%;
} */